body {
  margin: 0;
}
.page {
  background-color: white;
}

.header {
  background-color: lightgray;
  display: inline-block;
  width: 100%;
}

.header__logo {
  float: left;
}

.header__logo__img {
  width: 200px;
  height: 100px;
}

.header__search {
 float: right;
 margin: 20px;
}

.header__search__input {
  border-radius: 6px;
  appearance: none;
  -webkit-appearance: none;
  padding: 3px 7px;
  float: left;
  text-decoration: none;
  outline: none;
  border: none;
}

.header__search__button {
  width: 100px;
  background: grey;
  display: block;
  float: left;
  border-radius: 6px;
  padding: 2px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.header__search__button:hover {
  background: black;
  color: white;
}

.header__category__label {
  clear: both;
}

.sidemenu {
  float: left;
  width: 210px;
  background-color: lightgray;
  background-image: linear-gradient(lightgray, white);
  padding-left: 20px;
  margin-top: -5px;
  height: 100vh;
  position: absolute;
}

.sidemenu__category__link {
  width: 100%;
  display: block;
  text-decoration: none;
  color: black;
  padding: 10px 0;
  transition: 0.3s;
}

.sidemenu__category__link:hover {
  color: orange;
  background: black;
  opacity: 0.7;
  padding: 10px;
  width: calc(100% - 20px);
}

.sidemenu__category__link--active {
  color: red;
  background: black;
  opacity: 0.5;
  padding: 10px;
  width: calc(100% - 20px);
}

.content {
  float: left;
  width: calc(100% - 270px);
  padding: 20px;
}

.grid__container {
  display: grid;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  grid-template-columns: 24% 24% 24% 24%;
  float: right;
  width: calc(100% - 250px);
}

.product {
  display: inline-grid;
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
  padding: 15px;
  box-shadow: black 1px 1px 11px;
}

.product:nth-child(odd) {
  animation-duration: 0.6s;
}

.product__link {
  text-decoration: none;
}

.product__name {
  font-size: 20px;
  color: black;
}

.product__price {
  font-size: 14px;
  color: gold;
}

.product__description {
  font-size: 12px;
  color: black;
}

.product__img {
  width: 100%;
}

.menutoggle {
  visibility: hidden;
  display: none;
  position: absolute;
  top: 70px;
  left: 12px;
  width: 50px;
  height: 50px;
}

.menutoggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 7px;
  background: #000;
  border-radius: 3px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transform-origin: 4px 0;
}
.menutoggle:focus {
  outline: none;
}
.menutoggle .second-line {
  margin-bottom: 7px;
  transform-origin: 0% 0%;
}
.menutoggle .third-line {
  margin-bottom: 0;
  transform-origin: 0% 100%;
}
.menutoggle--open span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}
.menutoggle--open .second-line {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menutoggle--open .third-line {
  transform: rotate(-45deg) translate(0, -1px);
}

.loader {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes come-in {
  to {
      transform: translateY(0);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .grid__container {
      grid-template-columns: 49% 49%;
  }
}

@media only screen and (max-device-width: 768px)  {
  .grid__container {
      grid-column-gap: ;
      grid-row-gap: 0;
      grid-template-columns: 100%;
  }

  .content {
      width: calc(100% - 40px);
  }

  .sidemenu {
      top: 100px;
      left: -230px;
      z-index: 1;
      transition: 0.3s;
  }

  .sidemenu--open {
      left: 0;
      box-shadow: #000 1px 16px 12px;
  }

  .menutoggle {
      visibility: visible;
      display: block;
  }
}